#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: left; /* Centers items horizontally */
  gap: 20px;
  max-width: 100%;
  margin: 0 auto;
}